footer {
    position: sticky;
    margin-top: 95vh; 
    background-color: goldenrod;
    height: 10vh; 
    width: 100%;
}
.center-footer{
    justify-content: center;
    margin-top: 10vh; 
    display: flex;
    flex-direction: row; 
}