.nav-title {
    font-size: 2em;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 900;
    color: #3d663d;
    text-decoration: none; 
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-link {
  color: black;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 1.2em;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  background-color: white;
}

.nav-right {
  float: right;
}
.padding-left{
  padding: 5vh;
  background-color: white;

}